<div class="row">
    <div class="col-xs-12">
      <h3>Your Address</h3>
    </div>
</div>
<br>
<br>
<div class="row">
    <div class="col-xs-12 col-md-10 col-sm-8 col-md-offset-1 col-sm-offset-2">
      <form #f="ngForm" (ngSubmit)="goToNext(f)">
        <div class="form-group">
          <label for="street">street</label>
          <input 
            type="text"
            id="street"
            name="street"
            class="form-control"
            required
            [ngModel]="street">
        </div>
        <div class="form-group">
            <label for="city">city</label>
            <input 
              type="city"
              id="city"
              name="city"
              class="form-control"
              required
              [ngModel]="city">
          </div>
          <button class="btn btn-default" type="button" (click)="goToPrevious()">Previous</button>
          <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Next</button>
      </form>
    </div>
  </div>